<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116199616543-f6dagi9mu3j2slmkj8k5mmkshssaddis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116199616543-f6dagi9mu3j2slmkj8k5mmkshssaddis</string>
	<key>API_KEY</key>
	<string>AIzaSyA-POJbpv6xBIC8ErWw8dcotsVhFoxiD2s</string>
	<key>GCM_SENDER_ID</key>
	<string>116199616543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyleedevelop.CryptoCalculator</string>
	<key>PROJECT_ID</key>
	<string>crypto-calculator-3d4ef</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-calculator-3d4ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116199616543:ios:cbd2279b04c4fdceea652a</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5804054899003424~7788699955</string>
</dict>
</plist>